form {
  display: block;
  border-radius: 10px;
  text-align: center;
  font-size: larger;
  position: relative;
  top: 150px;
  left: 30px;
}

body {
  background-image: url("https://images2.alphacoders.com/899/thumb-1920-899809.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent !important;
  background-size: cover;
}

.card {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5 {
  display: block;
  text-align: center;
  position: relative;
  top: 175px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: normal;
}

.convert {
  display: block;
  text-align: center;
  position: relative;
  top: 135px;
  left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h7 {
  display: block;
  text-align: left;
  position: relative;
  bottom: -240px;
  left: 90px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
}
.temp {
  color: white;
  position: relative;
  left: 80px;
}
.temp:hover {
  cursor: pointer;
}
.row {
  position: relative;
  top: 250px;
  left: 95px;
}
