.form {
  border-radius: 10px;
  text-align: center;
  font-size: larger;
  position: relative;
  top: 150px;
  left: 30px;
  font-size: 24px;
  font-weight: 100;
}

body {
  background-image: url("https://images2.alphacoders.com/899/thumb-1920-899809.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent !important;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.overview {
  margin-bottom: 15px;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 0;
}
.weather-temperature {
  margin-right: 10px;
  font-size: 64px;
  float: left;
}

.weather-temperature strong {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}

.float-left {
  float: left;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -1px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: white;
}
.weather-forecast-temperature-max {
  font-size: 16px;
  opacity: 0.8;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.link {
  color: gray;
}
